.chat-list {
  width: 100%; 
  height: 100%;
  background-color: var(--bg-main);
  border-right: 1px solid var(--border-color);
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.chat-list-wrapper {
  width: 100%;
  background-color: var(--bg-main);
  border-right: 1px solid var(--border-color);
  display: flex;
  height: 100%;
}

.no-chats {
  color: var(--text-placeholder);
  font-size: 1em;
  text-align: center;
}


.chat-item {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid var(--border-color);
  cursor: pointer;
}

.chat-item:hover {
  background-color: var(--message-sent);
}

.chat-details {
  flex: 1;
}

.delete-chat-button {
  background-color: white;
  color: red;
  border: 1px solid #dcdcdc;
  border-radius: 50%;
  cursor: pointer;
  padding: 5px;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
}

.delete-chat-button:hover {
  background-color: #f8d7da;
  border-color: #f5c6cb;
}


.chat-name {
  color: var(--text-main);
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.chat-last-message {
  color: var(--text-main);
  font-size: 0.9em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.create-chat-button {
  margin: 10px;
  padding: 10px 15px;
  background-color: var(--accent-color);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.create-chat-button:hover {
  background-color: #075e54;
}

.user-item {
  padding: 8px;
  cursor: pointer;
  border-bottom: 1px solid var(--border-color);
}

.user-item:hover {
  background-color: #f0f0f0;
}

