.chat-window-wrapper {
  width: 80%;
  display: flex;
  flex-direction: column;
  height: 90%;
  background-color: var(--bg-chat);
}

.chat-window {
  width: 80%; 
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--bg-chat);
}

.messages-container {
  flex: 1;
  overflow-y: auto;
  background-color: var(--bg-chat);
  background-image: url('/src/assets/imgs/ImagenProfe.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.no-chat-selected {
  color: var(--text-placeholder);
  font-size: 1.5em;
  text-align: center;
  margin-top: 20px;
}

.message {
  padding: 10px;
  margin: 5px 0;
  max-width: 60%;
  border-radius: 10px;
  word-wrap: break-word;
  display: inline-block;
  z-index: 1;
  color: var(--text-main);
}

.sent {
  background-color: #DCF8C6;
  align-self: flex-end;
  color: black;
}

.received {
  background-color: #FFFFFF;
  align-self: flex-start;
  color: black;
  border: 1px solid #e5e5e5;
}

.message-text {
  font-size: 1em;
  color: var(--text-main);
  white-space: pre-wrap;
}

input::placeholder {
  color: var(--text-placeholder);
}

.chat-list {
  border-right: 1px solid var(--border-color);
}
