.message-input {
    display: flex;
    border-top: 1px solid var(--border-color);
    background-color: var(--bg-chat);
    padding: 10px;
  }
  
  .message-input input {
    flex: 1;
    padding: 10px;
    font-size: 1em;
    border: 1px solid var(--border-color);
    border-radius: 20px;
    outline: none;
  }
  
  .message-input button {
    margin-left: 10px;
    padding: 10px 20px;
    background-color: var(--accent-color);
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
  }
  
  .message-input button:hover {
    background-color: #075e54;
  }
  